#footerbar{
    background-color: #696773;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.no-break{
    display: inline;
}

#signs{
    position: fixed;
    right: 60px;
}

.log-buttons {
    display: inline-block;
    border-radius: 4px;
    background-color: #0e0372;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3em;
    padding: 0.2em;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0.5;
}

.log-buttons:hover{
    opacity: 1;
}

@media(max-width: 1440px) {
    #footerbar {
        height: 47px;
    }
}

@media(max-width: 1024px) {
    #footerbar {
        height: 35px;
    }
}

@media(max-width: 900px) {
    #footerbar {
        height: 31px;
    }
}