.past-match-container {
	margin: 20px;
	height: 70vh;
	background-color: rgba(67, 72, 76, 0.7);
	transition-duration: 0.5s;
	overflow-y: scroll;
}

.past-match-container::-webkit-scrollbar {
	width: 0;
}

.past-match-container:hover {
	background-color: rgba(67, 72, 76, 0.9);
}

.schedule-teamlogo {
	height: 30px;
	line-height: inherit;
	vertical-align: middle;
}

.no-break {
	display: inline-block;
}

.match-scores {
	margin-top: 1px;
	padding: 10px;
	transition: 0.3s;
}

.match-scores:hover {
	background-color: #2c2c2c;
}

.playername {
	text-align: center;
}
