.schedule-teamlogo {
    height: 30px;
    line-height: inherit;
    vertical-align: middle;
}

.no-break {
    display: inline-block;
}

.match-scores {
    margin: 1px;
    padding: 10px;
}

.playername {
    text-align: center;
}