#nav-div {
    background-color: #532C36;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#nav-logos{
    position: sticky;
    padding-left: 1%;
}

#arrow{
    width: 4%;
}

#gamernow_navlogo {
    width: 15%;
}

@media (max-width: 900px) {
    #gamernow_navlogo {
        width: 135px;
    }

    #arrow {
        width: 35px;
    }
}