#nav-div {
    background-color: #696773;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav-logos{
    position: relative;
    left: 2%;
}

#gamernow_navlogo {
    width: 15%;
}

@media (max-width: 900px) {
    #gamernow_navlogo {
        width: 135px;
    }
}