.fantasy-container {
  display: grid;
  grid-template-columns: minmax(200px, 25%) minmax(500px, 50%) minmax(
      200px,
      25%
    );
  grid-column-gap: 10px;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../main_assets/backgrounds/background-fantasy.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: fixed;
}

.past-match {
  display: grid;
}

.fantasy-sub-container {
  display: grid;
  grid-template-rows: 125px minmax(400px, 68vh);
}

.coming-match {
  display: grid;
}

.my-team {
  display: grid;
}

.details {
  display: grid;
  background-color: lightblue;
}
