.fantasy-container {
    display: grid;
    grid-template-columns: minmax(200px, 25%) minmax(500px, 50%) minmax(200px, 25%);
    grid-column-gap: 10px;
}

.past-match {
    display: grid;
}

.fantasy-sub-container {
    display: grid;
    grid-template-rows: minmax(125px, 20%) minmax(400px, 80%);
}

.coming-match {
    display: grid;
}

.my-team {
    display: grid;
}

.details {
    display: grid;
    background-color: lightblue;
}