.my-team-container {
    margin: 20px;
    margin-bottom: 0px;
    background-color: rgba(67, 72, 76, 0.7);
    transition-duration: 0.5s;
}

.my-team-container:hover{
    background-color: rgba(67, 72, 76, 0.9);
}

.player-slot {
    height: 100px;
}